body{
	background-color: #B4A8A8;
	justify-content: center;
	margin: 20px;
	display: flex;
	align-items: center;
	height: 100vh;
	font-family: Arial, sans-serif;
	
	
}
table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}
th, td {
      border: 1px solid #000000;
      text-align: left;
      padding: 10px;
}
th {
      background-color: #333333;
      color: white;
}
h1{
	text-align: center;
	margin-bottom: 20px;
}
form{
	margin-bottom: 10px;
}
.non-premium, .premium{
	text-align: center;
	margin-top: 20px;
}
input[type="submit"]{
	width: 100%;
	padding: 12px;
	background-color: #333333;
	color: #fff;
	cursor: pointer;
}
input[type="submit"]:hover{
	background-color: #555555;
}