body{
	background-color: #B4A8A8;
	justify-content: center;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	height: 100vh;
	font-family: Arial, sans-serif;
}
table {
      width: 80%;
      border-collapse: collapse;
      margin-top: 20px;
}
th, td {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px;
}
th {
      background-color: #333333;
      color: white;
}
audio {
      width: 100%;
      margin-top: 3px;
      max-height: 40px;
}
 
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	margin-bottom: 5px;
}