body{
	background-color: #B4A8A8;
	justify-content: center;
	margin: 0;
	display: flex;
	align-items: center;
}
.container{
	text-align: center;
	padding-top: 200px;
	align-items: center;
}
.container a{
	text-decoration: none;
	padding: 10px 20px;
	background-color: #333333;
	color: #fff;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}
.container a:hover{
	background-color: #555555;
}