body{
	background-color: #B4A8A8;
	justify-content: center;
	margin: 0;
	display: flex;
	align-items: center;
	height: 100vh;
	font-family: Arial, sans-serif;
}

.song{
	background-color: hsl(0, 0%, 60%);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width: 350px;
	align-items: center;
	justify-content: center;
}
form{
	text-align: center;
}
h2{
	color: #333333;
}
label{
	display: block;
	margin: 10px 0 5px;
	color: #333333;
}
input{
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-right: 2px;
}
input[type="submit"]{
	width: 100%;
	padding: 8px;
	background-color: #333333;
	color: #fff;
	cursor: pointer;
}
input[type="submit"]:hover{
	background-color: #555555;
}