body{
	background-color: #B4A8A8;
	justify-content: center;
	margin: 0;
	align-items: center;
	height: 100vh;
	font-family: Arial, sans-serif;
	
	
}
h1{
	text-align: center;
	margin: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
p{
	text-align: center;
	margin: 20px 20px;
	padding: 20px 20px;
	display: space-between;
}